@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0; 
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.w {
	width:1190px;
	margin:auto;
}

a {
	text-decoration:none;
}
/*快捷导航模块*/
.shortcut {
	background-color:#e3e4e5;
	border-bottom:1px solid #ddd;
	height:30px;
	line-height:30px;
}
.shortcut a{
	text-decoration:none;
	color:#999;
	font-size:12px;
}
.shortcut a:hover{
	color:#AB1D1F;
}
li {
	list-style-type:none;
}
.shortcut .fr li {
	float:left;
}
.spacer {
	width:1px;
	height:10px;
	background-color:#ccc;
	margin:10px;
}
.content .red-style {
	color:#C70004;
}
/*header*/
.header {
	width:100%;
	border-bottom:1px solid #ddd;
	height:140px;
}
.inner {
	display:flex;
}
.logo a{
	width:190px;
	height:120px;
	display:block;
	background:url(../images/logo.png) no-repeat 10px -10px;
	text-indent:-999em;
	overflow:hidden;
} 
.treasure {
	width:250px;
	height:124px;
}
.treasure a{
	background:url(../images/right.png) no-repeat;
	width:250px;
	height:124px;
	display:block;
} 

/*导航栏部分*/
.header-nav {
	flex:1;
	margin-top:20px;
}
.header-search {
	display:flex;
	justify-content:center;
}

.search {
	width:535px;
	height:32px;
	border:2px solid #e2231a;
	display:flex;
	align-items:center;
	padding-left:15px;
}
.search input {
	border:1px solid transparent;
	
	color:#ccc;
	flex:1;
}
.search span {
	color:#ccc;
	cursor:pointer;
	margin-right:20px;
}
.search button {
	width:58px;
	height:32px;
	background-color:#e1251b;
	color:#fff;
	border:0;
	cursor:pointer;
	font-weight:700;
}

.settleup {
	width:130px;
	height:34px;
	border:1px solid #e3e4e5;
	margin-left:15px;
	line-height:34px;
	text-align:center;
	position:relative;
}
.settleup i{
	color:#e1251b;
	font-weight:700;
	margin:0 10px;
}
.settleup a{
	text-decoration:none;
}
.settleup span {
	position:absolute;
	left:34px;
	top:3px;
	color:#fff;
	background-color:#e1251b;
	font-size:12px;
	line-height:12px;
	border-radius:7px;
	padding:1px 5px;
}
.hotwords {
	
	margin:5px 0 0 23px;
}
.hotwords a{
	color:#9d9d9d;
	text-decoration:none;
	font-size:12px;
	margin-right:5px;
}
.hotwords a:hover {
	color:#c81623;
}
/*导航栏信息*/
.navitems ul{
	display:flex;
	padding-top:25px;
}
.navitems ul a {
	font-size:15px;
	color:#333;
	text-decoration:none;
	margin:0 11px;
}
.navitems ul a:hover {
	color:#c81623;
}
.navitems-fw {
	font-weight:700;
}
/*页面底部*/
/*多快好省*/

.footer-service {
	border-bottom:1px solid #dedede;
	padding:30px 0;
	background-color:#F4F4F4;
}
.footer-service ul {
	display:flex;
	justify-content:space-around;
}
.footer-service ul li{
	display:flex;
	align-items:center;
}
.footer-service li p {
	font-size:18px;
	font-weight:700px;
	color:#444;
	margin-left:8px;
}
.footer-service li h5 {
	width:38px;
	height:44px;
	text-indent:-999999px;
} 
.footer-service .service-duo {
	background:url(../images/foot1.png) no-repeat;
} 
.footer-service .service-kuai {
	background:url(../images/foot1.png) no-repeat;
} 
.footer-service .service-hao {
	background:url(../images/foot1.png) no-repeat;
} 
.footer-service .service-sheng {
	background:url(../images/foot1.png) no-repeat;
}
/*帮助模块*/
.ys {
	background-color:#F4F4F4;
}
.footer-help {
	border-bottom:1px solid #dedede;
	display:flex;
	padding:20px 0;
	justify-content:space-between;
	
}
.footer-help-inner {
	flex:0 1 16%;
}
.footer-help-cover {
	flex:0 1 17%;
}
.footer-help h5 {
	margin-bottom:5px;
	font-size:14px;
}
.footer-help a{ 
	font-size:12px;
	color:#666;
}
.footer-help a:hover {
	color:#c81623;
}
.footer-help-cover h5 {
	text-align:center;
}
.footer-help-cover p{
	font-size:12px;
	color:#666;
	padding:0 10px;
	line-height:22px;
}
.footer-help-cover a{
	text-align:right;
	display:block;
}
/*版权模块*/
.footer-cotright {
	background:#F4F4F4;
}
.footer-cotright-inner {
	text-align:center;
	padding:15px 0;
}
.footer-cotright-inner a{
	font-size:12px;
}
.footer-cotright-inner a:hover {
	color:#c81623;
}
.footer-cotright-links a{
	color:#666;
}
.footer-cotright-info {
	padding:10px 0;
}
.footer-cotright-info a{
	color:#999;
}
.footer-cotright-info span{
	color:#999;
	font-size:12px;
}
.footer-cotright-info .inner-info-ico1 {
	display:inline-block;
	width:16px;
	height:17px;
	background:url(../images/2.png) no-repeat -84px -53px;
}
.footer-cotright-info .inner-info-ico2 {
	display:inline-block;
	width:16px;
	height:17px;
	background:url(../images/2.png) no-repeat -234px -53px;
}
.footer-cotright-info .inner-info-ico3 {
	display:inline-block;
	width:16px;
	height:17px;
	background:url(../images/2.png) no-repeat -396px -47px;
}
.footer-cotright-info .inner-info-ico4 {
	display:inline-block;
	width:16px;
	height:17px;
	background:url(../images/2.png) no-repeat -576px -52px;
}
.footer-cotright-info .inner-info-ico5 {
	display:inline-block;
	width:16px;
	height:17px;
	background:url(../images/2.png) no-repeat -757px -52px;
}
.inner-auth-1 { 
	display:inline-block;
	width:103px;
	height:32px;
	background:url(../images/3.png) no-repeat -135px -99px;
}
.inner-auth-2 { 
	display:inline-block;
	width:103px;
	height:32px;
	background:url(../images/3.png) no-repeat -247px -99px;
}
.inner-auth-3 { 
	display:inline-block;
	width:103px;
	height:32px;
	background:url(../images/3.png) no-repeat -360px -99px;
}
.inner-auth-4 { 
	display:inline-block;
	width:103px;
	height:32px;
	background:url(../images/3.png) no-repeat -478px -99px;
}
.inner-auth-5 { 
	display:inline-block;
	width:103px;
	height:32px;
	background:url(../images/3.png) no-repeat -586px -99px;
}
.inner-auth-6 { 
	display:inline-block;
	width:103px;
	height:32px;
	background:url(../images/3.png) no-repeat -700px -99px;
}